# Backend Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar.sha1
.m2/

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log

# Application
application-*.properties
!application-dev.properties
!application-test.properties
